@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    background-image: url("./assets/background.jpg");
    min-height: 100vh;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}